body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

p, div {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 24px;
}

img, video {
    width: 750px;
    aspect-ratio: 1/1;
}